<header class="site-header" role="banner">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="brand" src="assets/logo/logo.png"> </img>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#programa">Programa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#charlas">Charlas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#panel"panel>Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#lasdesistemas">Organización</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
