---
layout: default
---

<section id="home">
  <div class="row">
    <div class="col-12 col-md-6 padding text-center">
      <img src="assets/logo/logo-white.png"></img>
      <h2> Conferencia de tecnología y feminismo </h2>
      <div class="square-blue text-center">
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            <h3> SÁBADO </h3> <h2> 17/11 </h2> <p> 9.30 - 15.30 </p>
          </div>
          <div class="col-12 col-md-5 text-left">
            <p>Sede de posgrados, de la UNTREF</p> <p class="small"> CC Borges, Viamonte 525, CABA </p>
          </div>
          <div class="col-12 col-md-3 text-left">
            <p>ENTRADA LIBRE Y GRATUITA</p>
          </div>
      </div>
    </div>
    <div class="col-6 col-md-6"></div>
  </div>
</section>


<section id="programa">

  <div class="row">
    <div class="col-12 col-md-3">
      <h2 class="text-center"> PROGRAMA </h2>
    </div>
    <div class="col-12 col-md-7">
      <div class="row">
        <div class="col-4 text-right"> 09:30 - 10:00 </div>
        <div class="col-8"> Café de bienvenida </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 10:00 - 10:10 </div>
        <div class="col-8"> Presentación UNTREF: Mariana Gasparotto </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 10:10 - 10:20 </div>
        <div class="col-8"> Presentación de la comunidad [LAS] de Sistemas</div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 10:20 - 11:00 </div>
        <div class="col-8"> Charla "Lázaro, lector de pantalla para Smalltalk", Ángeles Tella Arena</div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 11:00 - 11:40 </div>
        <div class="col-8"> Charla "Construyendo sistemas escalables con actores (y poco esfuerzo!)", Mara Jerkovic </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 12:00 - 12:40  </div>
        <div class="col-8"> Charla "Mujeres artistas Electrodigitales", Sol Verniers </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 12:40 - 13:30  </div>
        <div class="col-8"> Almuerzo </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 13:30 - 13:45  </div>
        <div class="col-8"> Charlas relámpago de comunidades  </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 13:45 - 14:30  </div>
        <div class="col-8"> Panel de género </div>
      </div>
      <div class="row">
        <div class="col-4 text-right"> 14:30 - 15:00 </div>
        <div class="col-8"> Cierre y torta! </div>
      </div>
    </div>
  </div>

</section>



<section id="charlas">
  <h2 class="text-center"> CHARLAS</h2>

  <div class="card-group">
    <div class="card bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Lázaro, lector de pantalla para Smaltak</h5>
        <h6 class="card-subtitle mb-2 text-muted"><small>10:20 - 11:00</small></h6>
        <p>Las personas ciegas pueden y deben aprender a programar teniendo la misma experiencia que sus pares. En esta charla voy a contar cómo nos aseguramos de que esto fuera así, construyendo nuestro propio lector de pantalla. La experiencia de enseñar a programar y aprender lo nuestro a la vez.</p>
        <br>
        <div class="row">
          <div class="col-6">
            <img src="assets/speakers/angeles.png" class="rounded-circle"> </img> </div>
          <div class="col-6">
            <h5> Ángeles Tella Arena</h5>
            <p> Developer en 10Pines, formada en la Universidad Nacional de Quilmes. Fan de Smalltalk, el TDD y más cosas de las que probablemente otros devs se ríen.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Akka: Construyendo sistemas escalables con actores (y poco esfuerzo!)</h5>
        <h6 class="card-subtitle mb-2 text-muted"><small>11:00 - 11:40</small></h6>
        <p>Akka es un toolkit que implementa el modelo de actores en diferentes lenguajes de programación, como Scala, Java, .NET y JavaScript. Nos facilita la creación de sistemas elásticos con alta tolerancia a fallas, basándose en los principios del manifiesto reactivo. Vamos a adentrarnos en la nueva forma de programar que plantea este modelo, y las abstracciones que utiliza.</p>
        <br>
        <div class="row">
          <div class="col-5">
            <img src="assets/speakers/mara.png" class="rounded-circle"> </img> </div>
          <div class="col-7">
            <h5> Mara Jerkovic</h5>
            <p> Ingeniera en sistemas de información (UTN FRBA). Desarrolladora backend Java/Scala hace 4 años. Actualmente trabajando en Medallia. Entusiasta de la programación funcional.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-dark border-light">
      <div class="card-body">
        <h5 class="card-title">Mujeres artistas Electrodigitales </h5>
        <h6 class="card-subtitle mb-2 text-muted"><small>12:00 - 12:40</small></h6>
        <p>La programación y electrónica no sirve sólo para software y hardware empresarial. Vamos a contarte todo lo que podés crear y experimentar artísticamente (Robótica, NetArt, Programación creativa, Visuales, Música, Electrotextiles, etc), algunas herramientas para empezar y nuestras experiencias construyendo obras y propuestas con mirada feminista. Estaremos con Artistas invitadas: Paula Cáceres, Laura Nieves, Sandra Soto.</p>
        <br>
        <div class="row">
          <div class="col-5">
            <img src="assets/speakers/sol.png" class="rounded-circle"> </img> </div>
          <div class="col-7">
            <h5>Sol Verniers</h5>
            <p> Estudiante Maestría en Tecnología y Estética de las Artes Electrónicas, UNTREF - Lic. Artes Orientación Combinadas, UBA. Socia Cooperativa Cambá, Laboratorio de Tecnología, miembro de FACTTIC. Coordinadora Observatorio de Investigación Informático y Tecnológico, Unión Informática. Directora <a href="holamundo-cultura.com">Hola Mundo Cultura</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="panel">
  <h2 class="text-center"> PANEL DE TECNOLOGÍA Y GÉNERO</h2>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <img src="assets/speakers/irina.png" class="rounded-circle speaker"> </img>
      <h3> Itina Sternik </h3>
      <p>Periodista de género y tecnología. Colabora en La Nación, Las12 de Página12 y su blog <a href="www.ladob.net"> www.ladob.net</a>. Capacitaciones #Redacciones4G de periodismo digital y talleres en OficiosyRedes.</p>
    </div>

    <div class="col-12 col-md-4 text-center">
      <img src="assets/speakers/agostina.png" class="rounded-circle speaker"> </img>
      <h3> Agostina Mileo </h3>
      <p>Agostina Mileo (a.k.a La Barbie Científica). Comunicadora Científica y doctoranda en Historia y Epistemología de la Ciencia. Editora de ciencia y coordinadora general de #MenstruAcción en Economía Femini(s)ta. Autora de "Que la ciencia te acompañe" (2018, Editorial Debate).</p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img src="assets/speakers/linpao.png" class="rounded-circle speaker"> </img>
      <h3> Lin Pao Raffetta </h3>
      <p>Artista, docente, activista transfeminista por los derechos sexuales y el software libre.Trabaja en Gestión Cultural en el Centro Cultural Tierra Violeta. Vive con una hija adolescente, un novia migrante y una gata demandante.</p>
    </div>
  </div>

</section>




<section id="lasdesistemas">

  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-3 ">
      <h4 class="">ORGANIZA</h4>
      <img src="assets/logo/lds.png" class="lds"> </img>
    </div>
    <div class="col-12 col-md-5 text-left">
      <h4>Comunidad feminista de mujeres, lesbianas, trans y personas no binarias que trabajan en sistemas con la finalidad de visibilizarnos, potenciarnos y contenernos para transformar nuestros espacios de trabajo en lugares inclusivos.</h4>
      <a href="https://www.facebook.com/lasdesistemas/?ref=br_rs"><img src="assets/icons/facebook-64.png" class="icon-rrss"> </img></a>
      <a href="https://twitter.com/lasdesistemas"><img src="assets/icons/twitter-64.png" class="icon-rrss"> </img></a>
    </div>
    <div class="col-12 col-md-2">
    </div>
  </div>

</section>



<section id="sponsors">

  <h2 class="text-center">NUESTROS COLABORADORES</h2>
  <div class="sponsors">
      <div class="row">
        <div class="platinum-large">
          <img src="assets/logo/sponsors/untref.png" class="sponsor-img"> </img>
        </div>
        <div class="platinum-large">
          <img src="assets/logo/sponsors/olx.png" class="sponsor-img"> </img>
        </div>
      </div>
      <div class="row">
        <div class="platinum-large">
          <img src="assets/logo/sponsors/medallia.png" class="sponsor-img"> </img>
        </div>
        <div class="platinum-small">
          <img src="assets/logo/sponsors/10pines.png" class="sponsor-img"> </img>
        </div>
        <div class="platinum-small">
          <img src="assets/logo/sponsors/grupoesfera.png" class="sponsor-img"> </img>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="gold-large">
          <img src="assets/logo/sponsors/gcoop.png" class="sponsor-img"> </img>
        </div>
        <div class="gold-large">
          <img src="assets/logo/sponsors/intive.jpg" class="sponsor-img"> </img>
        </div>
        <div class="gold-large">
          <img src="assets/logo/sponsors/camba.png" class="sponsor-img"> </img>
        </div>    
        <div class="gold-small">
          <img src="assets/logo/sponsors/devecoop.svg" class="sponsor-img"> </img>
        </div>    
      </div>
  </div>
</section>
