---
layout: default
---

<section id="home">
  <div class="row">
    <div class="col-12 col-md-6 padding text-center">
      <img src="/assets/logo/logo-white.png"></img>
      <h2> Conferencia de tecnología y feminismo </h2>
      <div class="square-blue text-center">
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            <h3> SÁBADO </h3> <h2> 17/11 </h2> <p> 9.30 - 15.30 </p>
          </div>
          <div class="col-12 col-md-5 text-left">
            <p>Sede de posgrados, de la UNTREF</p> <p class="small"> CC Borges, Viamonte 525, CABA </p>
          </div>
          <div class="col-12 col-md-3 text-left">
            <p>ENTRADA LIBRE Y GRATUITA</p>
          </div>
      </div>
    </div>
    <div class="col-6 col-md-6"></div>
  </div>
</section>


<section id="program" class="wrapper">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</section>
